* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    height: 90vh;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f7f7f8;
}

.message {
    padding: 15px;
    border-radius: 8px;
    max-width: 75%;
    word-wrap: break-word;
}

.message.user {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
}

.message.bot {
    align-self: flex-start;
    background-color: #e5e5ea;
    color: #333;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #fff;
}

#user-input {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #f0f0f0;
    font-size: 16px;
    margin-right: 10px;
    outline: none;
}

#send-button {
    padding: 10px;
    background-color: #438fe0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

#send-button svg {
    width: 24px;
    height: 24px;
}

#send-button:hover {
    background-color: #0056b3;
}

.chat-box::-webkit-scrollbar {
    width: 8px;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 8px;
}


/* Aggiungi qui il tuo CSS per le immagini */
.header-images {
    position: absolute;
    height: 100px;
    opacity: 0.15;
}

.header-images img {
    position: absolute;
    height: 80px; /* Imposta l'altezza delle immagini */
    width: auto; /* Mantiene le proporzioni */
}

.top-left {
    top: 10px; /* Distanza dal bordo superiore */
    left: 10px; /* Distanza dal bordo sinistro */
}

.top-right {
    top: 10px; /* Distanza dal bordo superiore */
    right: 10px; /* Distanza dal bordo destro */
}